<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


	<!-- 配置自动扫描的包 -->
	<context:component-scan base-package="com.lskyo.spring.aop.xml"></context:component-scan>

	<!-- 使AspectJ注解起作用：自动为匹配的类生成代理对象 -->	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
</beans>
